.checkout-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.checkout-area{
    width: 70vw;
}
.checkout-item-area{
    border-bottom: 1px solid grey;
}
.checkout-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    margin-top: 5rem;
}
