.admin-panel{
    display: flex;
    font-size: 2rem;
    width: 100vw;
}
.admin-panel .sidebar{
    width: 20vw;
    height: 80vh;
    border-right: 1px black solid;
    /* background-color: rgb(134, 210, 212); */
}
.sidebar ul{
    padding: 2rem;
}
.sidebar ul li{
    list-style: none;
    margin-top: 1rem;
    background-color: cadetblue;
    padding: 1rem;
    border-radius: 1rem;
}
.sidebar .sidebar-menu-items{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-weight: 500;
}
.sidebar .sidebar-menu-items .icon{
    margin-right: .5rem;
}
.admin-panel .main-container{
    width: 70vw;
    height: 80vh;
}